body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#quiz-container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.option {
  width: 400px; /* Ajusta el ancho según tus necesidades */
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#next-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
